* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.MenuFisso{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
    top: 0px;
    left: 0px;
}
.MenuFisso span{
    height: 100%;
    padding-top: 34px;
}
.partedx, .partesx{
    display: flex;
    align-items: center;
}

button{
    background-color: #0061ff;
    color: white;
    margin-right: 20px;
    border: none; 
}
#inizia{
    width: 70px;
}

.partedx *, .partesx *{
    padding: 10px;
    font-size: 10px;
}
.partedx img{
    height: 40px;

}

.sez1{
    background-color:#b4d0e7;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 40px;
} 

.sez1 h1{
    padding-top: 50px;
    font-size: 50px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-between;
}
.contenitore{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.testo{
    width: 40%;
}

.immagine{
    width: 60%;
    height: 100%;
}

.immagine img{
    width: 100%;
    height: 100%;
}
#prova{
    padding:10px;
    margin-top: 20px;
    font-size: 13px;
    margin-bottom: 20px;
}

.testo i{
    font-size: 40px;
    margin-top: 60px;
}

.testo p{
    font-size: 13px;
}

.sezione2{
    width: 60%;
    margin: auto;
    padding-top: 70px;
    margin-bottom: 70px;
}

.sezione2 h1{
    margin-bottom: 30px;
    font-size: 30px;
}

.selezione{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: solid 5px #0061ff;
    display: inline-block;
    margin-right: 5px;
}
.selezione2{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: solid 1px black;
    display: inline-block;
    margin-left: 20px;
    margin-right: 5px;
}
.sezione2 h1{
    margin-top: 70px;
}

.container2{
    display: flex;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
}

.sceltaAbbonamento{
    border: solid 1px black;
    width: calc(95% / 3);
    
}

.tipo{
    padding:6px;
    text-align: center;
}
.DescrizAbb{
    padding: 20px;
}

.prezzo{
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}

.allinea{
    margin-top: 20px;
}

.allinea:nth-child(3) {
    margin-top: 40px;
}

.prova{
    padding: 10px;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 50px;
}

h4{
    margin-top: 50px;
    margin-bottom: 40px;
}

.puntiSalienti i{
    color: #0061ff;
}

.puntiSalienti{
    margin-bottom: 20px;
}

.container3{
    width: 100%;
    border: solid 1px black;
    margin-top: 30px;
}

.enterprise{
    height:100%;
    width: 100%;
    padding: 20px;
    display: flex;
    margin-bottom: 30px;
}

.contatta{
    margin-top: 30px;
    margin-bottom: 70px;
    font-weight: bold;
}

.box70{
    width: 60%;
}

.box30{
    width: 40%;
}

.contattaUfficio{
    width: 100%;
    background-color: #0061ff;
    color: white;
    padding: 10px;
}

.container4{
    width: 100%;
    margin: auto;
    display: flex;
    margin-bottom: 100px;
}
.box70 img{
    width: 100%;
}

#partner{
    background-color: white;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    border-top: solid 2px rgb(157, 151, 151);
    border-right: solid 2px rgb(157, 151, 151);
    color: black;
    padding: 10px;
    margin-top: 30px;
}

#spaziatura{
    margin-top: 40px;
    margin-left: 40px;
}

.box img{
   width: 80%;
   text-align: center;
   margin-bottom: 30px;
   margin-top: 40px;

}
.box{
    width: calc(98% / 3);
    padding: 5px;
    
}
#proprietà{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.box h3{
    margin-bottom: 30px;
}

#team{
    margin-top: 170px;
    width: 70%;
    margin-bottom: 50px;
}

.partner{
    display: flex;
    width: 100%;
    margin-top: 100px;
    
}

.partnerimg{
    display: flex;
    width: calc(100% / 3);
    flex-wrap: wrap;
}

.logo{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
   
}

.logo img{
    height: 70px;
    width: 70px;
    margin:auto;
}

.logopartner{
    width: 50%;
    height: 50%;
    
}

#logo1 .logo{
    background-color: #a2d39b;
    flex-shrink: ;
}
#logo2 .logo{
    background-color: #61082b;
}
#logo3 .logo{
    background-color: #0093ce;
}
#logo4 .logo{
    background-color: #ff1c1c;
}
#logo5 .logo{
    background-color: #f5f5f5;
}
#logo6 .logo{
    background-color: #d5001f;
}
#logo7 .logo{
    background-color: #b4d0e7;
}
#logo8 .logo{
    background-color: #0d2481;
}
#logo9 .logo{
    background-color: #ffd830;
   
}

#logo5{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}
.centrale{
  width: 100%;
  padding-top: 50px;
  margin-bottom: 40px;
}
.logopartner p{
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.logopartner hr{
    width: 200px;
    height: 1px;
}
 .CTA{
     background-color: #b4d0e7;
     height: 300px;
 }

 .containerCTA{
     width: 60%;
     margin: auto;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .testoCTA{
     width: 60%;
     color: #61082b;
     font-size: 25px;
 }

 .buttonCTA button{
     background-color: white;
     color: black;
     padding: 10px;
     width: 200px;
 }

 .FAQ{
     width: 60%;
     margin: auto;
     font-size: 30px;
     margin-top: 50px;
 }

 .FAQ h1{
     margin-bottom: 80px;
 }

 .domande p{
     font-size: 13px;
     font-weight: bold;
     line-height: 100%;
     vertical-align: middle;
 }

 #risposta{
     font-size: 15px;
     font-weight: lighter;
     padding-top: 20px;
     display: none;
 }
 .domande{
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     padding-top: 30px;
     padding-bottom: 30px;
     position: relative;
 }
 #top{
     display: none;
     position: absolute;
     top: 20px;
     right: 20px;
 }
#down{
 position: absolute;
 top: 20px;
 right: 20px;
}

#domandacentro{
    border:none;
}
footer{
    background-color: black;
    width: 100%;
    margin-top: 200px;
}

.containerfooter{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}
.listafoot{
    color: white;
    width: calc(100% / 5);
    font-size: 13px; 
    margin: auto;
    margin-top: 30px;
    padding: 40px;
    margin-bottom: 60px;
}
li{
    margin-top: 10px;
   list-style: none;
}

li:first-child{
    font-size: 17px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 15px;
}

.lingua{
    color: lightgrey;
    font-size: 12px;
    border-top: solid 1px lightgrey;
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100px;
    margin-left: 22%;
}

/* regole di hoover*/

.MenuFisso span:hover{
    border-bottom: solid 2px blue;
}

#logo1:hover{
    border: solid 30px #a2d39ba1;
}
#logo2:hover{
    border: solid 30px #61082ca6;
}#logo3:hover{
    border: solid 30px #0094cea2;
}#logo4:hover{
    border: solid 30px #ff1c1c93;
}#logo6:hover{
    border: solid 30px #d5002097;
}#logo7:hover{
    border: solid 30px #b4d0e783;
}#logo8:hover{
    border: solid 30px #0d24818f;
}#logo9:hover{
    border: solid 30px #ffd9308f;
}

.domande:active #risposta{
    display: inline;
}
.domande:active #down{
    display: none;
}
.domande:active #top{
    display: inline;
}

button:hover{
   transform: scale(1.1);
}

.partedx img:hover{
    transform: scale(1.1); 
}

.logopartner:hover img{
    transform: scale(1.6);
}

